

    <html>
        <body>
        
        <div id="header" class = "container-fluid">
          <div>Listen'In</div>
        </div>
        
        <h1 style="color:#1db954; text-align: center" >{{ hide ? "Login" : "Signup" }}</h1>
            <div *ngIf="hide" class="form">
            <form (submit)="login($event)">
              <label for="email" style="margin-right: 115px;">Email:</label><br>
              <input type="email" name="email" id="email" style="background-color:black; color:#1db954; border:2px solid #1db954" required><br>
              <label for="password" style="margin-right: 100px;" >Password:</label><br>
              <input type="password" name="password" id="password" style="background-color:black; color:#1db954; border:2px solid #1db954" required><br>
                <div>
                    <input class= "button"[hidden]="!hide" type="submit" value="Login" ><br>
                    <button class="button" (click)="showForm()">Register</button><br>
                    <a *ngIf="!hide" href="#" (click)="showForm()" style="background-color:black; color:#1db954">Back to Login</a>
                </div>
                <p [hidden]='!error2' style="color: red;">Invalid Account info.</p>
            </form>
            </div>
            <div [hidden]='hide' class="form">
              <form  (submit)="addUser($event)">
                <label for="email" style="margin-right: 115px;">Email:</label><br>
                <input type="email" name="email" id="email" style="background-color:black; color:#1db954; border:2px solid #1db954" required><br>
                <label for="password" style="margin-right: 100px;" >Password:</label><br>
                <input type="password" name="password" id="password" style="background-color:black; color:#1db954; border:2px solid #1db954" required><br>
                <label for="password2" style="margin-right: 50px;">Confirm Password:</label><br>
                <input type="password" name="password2" id="password2" style="background-color:black; color:#1db954; border:2px solid #1db954" required><br>
                  <div>
                      <button class="button" (click)="showForm()">Signup</button><br>
                      <a *ngIf="!hide" href="/" (click)="showForm()" style="color:black">Back to Login</a>
                  </div>
                  <p [hidden]='!error' style="color: red;">Passwords do not match/Fields are empty.</p>
              </form>
              </div>
          </body>
          </html>